{# src/OC/CoreformBundle/Resources/views/Core/index.html.twig #}

{% extends "OCCoreBundle::layout.html.twig" %}

{% block title %}
	Accueil - {{ parent() }}
{% endblock %}

{% block body %}

	{% for message in app.session.flashbag.get('info') %}
		<div class="alert alert-info">Message flash : {{ message }}</div>
	{% endfor %}

	{{ parent() }}

	<h2>Les dernières annonces</h2>

	{{ render(controller("OCPlatformBundle:Advert:menu", {'limit': 3})) }}

{% endblock %}
